.frame {
    fill: gray
}
.panget {
    fill: gray
}
.a {
    fill: gray
}
.b {
    fill: gray
}
.c {
    fill: antiquewhite
}
.d {
    fill: antiquewhite
}
.e {
    fill: antiquewhite
}
.f {
    fill: antiquewhite
}
.g {
    fill: antiquewhite
}
.h {
    fill: antiquewhite
}
.i {
    fill: antiquewhite
}
.j {
    fill: antiquewhite
}
body {
    place-items: center;
}
body {
    background-color: silver
    }